@tailwind base;
@tailwind components;
@tailwind utilities;

/* works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a5b4fc transparent;
}

/* works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
    /* Change horizontal scroll style */
    height: 4px;
}

/* make body scrollbar a little thicker */
body::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 20px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}